body {
	font-family: 'Titillium Web', sans-serif;
}

.sidebar {
	background-color: red;
}

.right-column {
	background-color: green;
}
h4 {
	text-align: center;
}
.bold{
	font-style: bold;
	text-align: left;
}
.display{
	/*display: inline-block;*/
}
.right{
	text-align: right;
}

.image-center {
	text-align: center;
}
.navbar{
	background-color: blue;
}
.card-footer{
	text-align: center;
    font-size: 30px;
}
/*.temple {
	width: 100%;
	border-radius: 50%;	
	height: 250px;*/
}
